@import "./utils/variables";
@import "./base/normalize";
@import "./utils/placeholders";
@import "./utils/mixins";
@import "./components/page-header";
@import "./components/banner";
@import "./components/quality-list";
@import "./components/employment";
@import "./components/team-list";
@import "./components/customer";
@import "./components/footer";
@import "./components/radio-btn";
@import "./components/select-picters";
@import "./components/modal";
@import "./components/menu";
@import "./components/select-picters-mobile";

body {
  font-family: Roboto;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

.skryt {
  display: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.portfolio {
  border-bottom: 1px solid #ececec;
}

.portfolio-content {
  background-color: #ffffff;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

address {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto;
}

p,
h2,
h3 {
  color: $primery-title-color;
}

a {
  font-family: Roboto;
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
