.logo-icons {
  @extend %list;
  display: flex;
  padding-left: 0;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;

  li:not(:last-child) {
    margin-right: 30px;
  }

  li:hover,
  li:hover {
    fill: $logo-color;
    color: $logo-color;
  }
}

.company-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition-property: $logo-color;
  transition-duration: 250ms;

  &:hover,
  &:focus {
    outline: none;
    border: 1px solid $logo-color;
    color: $logo-color;
    fill: $logo-color;
  }
}

.client {
  padding-top: 94px;
  padding-bottom: 94px;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
  }
}
