.flexbox {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    text-align: start;
    flex-wrap: nowrap;
  }
}

.content-box {
  text-align: center;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    margin-bottom: 60px;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
    text-align: left;
  }
}

.street {
  color: #fff;
  font-size: 14px;
  line-height: 1.714;
  padding-top: 20px;
  padding-bottom: 0;
  border-bottom: 0px;
  text-align: center;
}

.under-studio {
  color: #fff;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
}

.social-link {
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  p {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.145;
    color: #fff;
  }
}

.social-footer {
  @extend %list;
  display: flex;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 0;
  justify-content: center;

  li:not(:last-child) {
    margin-right: 10px;
  }
}

.footer-icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: $logo-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-icon {
    fill: #fff;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $logo-color;
  }
}

.subscribe-text {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.145;
  color: #fff;

  @media screen and (max-width: 1200px) {
    text-align: center;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
    margin-bottom: 20px;
  }
}

.email {
  width: 358px;
  height: 50px;
  border: none;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  padding-left: 10px;
}

.subscribe-footer {
  text-align: center;
  justify-content: center;

  @media screen and (min-width: 1200px) {
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

.footer-btn {
  @media screen and (max-width: 1200px) {
    display: flex;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.subscribe-btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: $logo-color;
  color: #ffffff;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  font-weight: bold;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    display: flex;
    margin: 0;

    margin-left: 10px;
  }

  &::after {
    content: "";
    background-image: url(/images/telegram.svg);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
}

.link-info {
  @extend %list;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  @media screen and (max-width: 1200px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    text-align: left;
  }

  .link {
    display: inline-block;
    color: $primery-text-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.714;

    &:hover,
    &:focus {
      color: $logo-color;
    }
  }

  li {
    padding-top: 9px;
  }
}
