.menu-button {
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  width: 453px;
  background-color: #fff;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu.is-open {
  z-index: 1;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  visibility: visible;
}

.mobile-site-navi {
  text-align: center;
  list-style: none;
  margin-bottom: 60px;
  margin-top: 0;
  padding: 0;
  border: none;
}

.mobile-link-type {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

.mobile-site-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-item-info:last-child {
  margin-top: 16px;
}

.mobile-info-link {
  font-weight: 500;
  color: #757575;
  transition-property: $logo-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .link-icon {
    margin-right: 10px;
  }
  &:hover,
  &:focus {
    outline: none;
    color: $logo-color;
    fill: $logo-color;
  }
}

.mobile-site-link {
  position: relative;
  outline: none;
  color: $primery-title-color;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  &::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: $logo-color;
    transition-property: $logo-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.mobile-site-link.current {
  color: $logo-color;
}

.mobile-site-link.current::after {
  position: absolute;
  content: "";
  display: block;
  opacity: 1;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 4px;
  margin-bottom: -8px;
  background-color: $logo-color;
  background-size: auto;
  border-radius: 2px;
}
