.backdrop {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: $logo-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  @media screen and (max-width: 1199px) and (min-width: 768px) {
    width: calc(100% - 2 * 159px);
    top: 60%;
    transform: translate(-50%, -40%);
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    background-color: #fff;
    width: calc(100% - 2 * 15px);
    margin-right: 0;
    padding: 40px;
  }

  @media screen and (min-width: 1200px) {
    position: absolute;

    background-color: #fff;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 528px;
    padding: 40px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #212121;
  }
}

.iks {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #fff;
  margin-left: auto;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover,
  &:focus {
    outline: none;
    color: $logo-color;
  }
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
  color: #757575;

  &:hover > .modal-icons,
  &:focus > .modal-icons {
    stroke: $logo-color;
    fill: $logo-color;
  }

  &:hover > .form-box,
  &:focus > .form-box {
    border: 1px solid $logo-color;
  }
}

.form-box {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 33px;
  outline: none;
  color: #757575;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $logo-color;
  }

  &:focus + .modal-icons {
    fill: $logo-color;
  }
}

.form-comment {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.666;
  letter-spacing: 0.01em;
  margin-bottom: 20px;
  color: #757575;

  .form-box-text {
    cursor: pointer;
    padding: 12px 16px;
    height: 120px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.666;
    outline: transparent;
    letter-spacing: 0.01em;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(33, 33, 33, 0.2);

    &:focus {
      border: 1px solid $logo-color;
    }
  }

  &:hover > .form-box-text,
  &:focus > .form-box-text {
    border: 1px solid $logo-color;
  }
}

.send-modal {
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  color: #ffffff;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $logo-color;

  &:focus {
    outline: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
}

.contract {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;

  .contract-link {
    text-decoration: underline;
    color: $logo-color;

    &:focus {
      outline-color: $logo-color;
    }
  }

  .contract-box {
    display: flex;
    align-items: center;
    margin-left: 9px;
    cursor: pointer;
    position: relative;
  }

  .galochka {
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 4px;
    margin-right: 7px;
    border: 2px solid #212121;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .weg {
    opacity: 0;
  }
}

.modal-icons {
  position: absolute;
  display: inline-block;
  top: 66%;
  left: 15px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.checkbox {
  appearance: none;
  position: absolute;

  &:checked .galochka:focus {
    border: 1px solid $logo-color;
  }

  &:checked + .galochka {
    background-color: $logo-color;
    background-image: url("../../images/galochka.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
  }

  &:checked:focus + .galochka {
    background-color: $logo-color;
    background-image: url("../../images/galochka.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
  }

  &:focus + .galochka {
    border: 2px solid $logo-color;
  }

  &:checked + .galochka {
    border: 2px solid$logo-color;
  }
}
