.header {
  background-color: #fff;

  min-height: 60px;
  margin-bottom: 0px;
  @media screen and (min-width: 768px) {
    height: 80px;
    display: flex;
  }
}

/* .header .container {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.logotip {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: #212121;
  @media screen and (min-width: 768px) {
    margin-right: 85px;
  }

  @media screen and (max-width: 1199px) and (min-width: 768px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-right: 81px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .web {
    color: $logo-color;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
  }

  /* .high-studio {
    color: $primery-title-color;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.192;
    margin-right: 93px;
  } */
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-navi {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .site-item {
    margin-right: 50px;
  }
  .site-item:last-child {
    margin-right: 0;
  }
  a {
    color: $primery-title-color;
  }
}

.site-link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  outline: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  &::after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: $logo-color;
    transition-property: $logo-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    a {
      color: $primery-title-color;
    }
  }
}

.site-navi .site-link:hover,
.site-navi .site-link:focus {
  color: $logo-color;
  &:after,
  &:after {
    opacity: 1;
  }
}

.link-type {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    .item-info {
      &:last-child {
        margin-top: 10px;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;

    .item-info {
      display: flex;
      align-items: center;
      margin-right: 30px;
      &:last-child {
        margin: 0;
      }
    }
  }
  .item-info {
    display: flex;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }
  .info-link {
    font-weight: 500;
    display: flex;
    align-items: center;
    fill: #757575;
    transition-property: $logo-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    .link-icon {
      margin-right: 10px;
    }
    &:hover,
    &:focus {
      outline: none;
      color: $logo-color;
      fill: $logo-color;
    }
  }
  a {
    color: $primery-text-color;
  }
}

.item-info {
  @media screen and (max-width: 1199px) {
    margin: 0;
  }
}

.first-navi {
  color: $logo-color;
  &:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: $logo-color;
    transition-property: $logo-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.second-navi {
  color: $logo-color;
  &:after {
    position: absolute;
    content: "";
    display: block;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: $logo-color;
    transition-property: $logo-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
