.quality-section {
  background-color: #fff;
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @media screen and (max-width: 1200px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.quality-list {
  @extend %list;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.quality-item {
  text-align: center;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    text-align: left;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (max-width: 767px) {
    margin-right: 0;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);
    text-align: left;

    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  /* @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-right: 30px;
      margin-bottom: 0;
    }
  } */
}

.quality-icon {
  padding: 25px 100px 25px 100px;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.quality-title {
  font-size: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.quality-text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.03em;
  @media screen and (max-width: 768px) {
    padding: 30px;
  }
}
