.team-section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;

  h2 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    padding-bottom: 50px;
  }
}

.team-list {
  @extend %list;
  margin: 0;
  padding: 0;
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.team-item {
  background-color: #fff;
  padding-bottom: 30px;
  text-align: center;

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    text-align: left;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 3 * 30px) / 4);

    margin-right: 30px;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.social {
  @extend %list;
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;

  li {
    margin-top: 16px;
    margin-bottom: 0;
    border-radius: 50%;
  }
  .name-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
  }

  & li:not(:last-child) {
    margin-right: 10px;
  }
}

.icons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: var(--logo-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    outline: none;
    fill: #ffffff;
    background-color: $logo-color;
  }
}

.name-title {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.name-text {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;

  font-size: 16px;
  line-height: 1.187;
}
